* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: white;
}

#navbar ul {
    display: flex;

}

#navbar ul li {
    font-size: 1.8rem;
    list-style: none;
    margin: 1rem 1rem;
    padding: 1rem;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
}

#navbar ul li a:hover,
.active {
    background-color: brown;
    border-radius: 3rem;
}

#navbar {
    
    position: sticky;
    display: flex;
    font-family: 'Baloo Bhaijaan 2', cursive;
    align-items:center;
    top: 0px;
    z-index: 1;
}

#navbar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    opacity: 0.5;
}

#logo img {
    height: 6rem;
    width: 6rem;
    margin: auto 2rem;
    filter: invert(100%);
}

/* home section */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 2rem;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('https://source.unsplash.com/random?gym') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.8;
}

.hprimary {
    font-size: 4rem;
    padding: 1rem;
    color: black;
    text-align: center;
    font-family: 'Heebo', sans-serif;
}

#home p {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#joinnow {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: brown;
    color: white;
    border-radius: 1rem;
    margin-top: 3rem;
    border: 0.2rem solid black;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
#joinnow:hover {
    transform: rotate(360deg);
    background-color: transparent;
    color: white;
}

/* Services Section */

#services {
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}

#services .box {
    border: 0.3rem solid brown;
    margin: 2rem;
    padding: 2rem;
    border-radius: 5rem;
}

#services .box img {
    height: 15rem;
    width: 15rem;
    display: block;
    margin: auto;
}

.hsecondary {
    font-size: 3.5rem;
    padding: 1rem;
    color: black;
    text-align: center;
    font-family: 'Heebo', sans-serif;
}

.box p {
    color: black;
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

/* Clients section  */

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clientItems img {
    padding: 3rem;
}

#clients::before {
    content: "";
    position: absolute;
    background: url('https://source.unsplash.com/random?exersices') no-repeat center center/cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}
#clients .clientItems img{
    width:15rem;
}

/* contact section */

#contact {
    display: flex;
    position: relative;
    justify-content: center;
}

#contact::before {
    content: "";
    position: absolute;
    background: url('https://previews.123rf.com/images/o0matze0o/o0matze0o1805/o0matze0o180500018/101535114-website-and-internet-contact-us-page-concept-with-hanging-icons-in-front-of-a-silver-background.jpg') no-repeat center center/cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

#contact .formgroup label {
    color: black;
    font-size: 2.4rem;
    font-weight: bold;
    display: block;
    margin-top: 1rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
#contact .formgroup input {
    font-size: 2rem;
    padding: 0.5rem;
    width: 50vw;
    border-radius:2rem;
    padding-left: 1rem;
    /* transition:all 0.5s ease-in-out; */
}

#contact .formgroup input:hover{
    border: 0.3rem solid brown;
    background-color: transparent;
}
footer .center{
    text-align: center;
    font-size: 1.6rem;
    background-color:black;
    padding: 0.3rem;
}
.formgroup  button{
    display: block;
    margin:2rem auto;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    background-color:brown;
    border-radius:1rem;
    color:white;
    width: 100%;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.formgroup  button:hover {
    border: 0.3rem solid black;
    width: 50%;
    background-color: transparent;
    color:black;
    padding: 0.5rem;
}

